.container {
    display: flex;
    flex-direction: column; /* Arrange the cards vertically */
    align-items: flex-end; /* Align all the cards to the right */
  }
  
  .card {
    width: 18rem; /* Ensure all cards have the same width */
    margin-bottom: 10px; /* Optional: add some space between the cards */
  }
  
  .card img {
    width: 100%; /* Ensure the images fit within the card */
    height: auto;
  }

header{
  background-color: rgb(255,240, 219);
  

}